<!DOCTYPE html>
<html>
<head>
	<title>Train Models with Grid Search</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		function startAnimation(){
			// Get the text and image elements from the HTML page
			const statusText = document.getElementById("status-text");
			const statusImage = document.getElementById("status-image");

			// Set the initial status
			let status = "Training is in progress...";
			let imageSrc = "/static/images/loading.gif";

			// Update the text and image elements every second
			setInterval(() => {
			// Update the status text
			status += ".";
			if (status.length > 30) {
				status = "Training is in progress...";
			}
			statusText.innerHTML = status;

			document.getElementById("overlay").style.display = "block";
			document.getElementById("content").style.display = "none";

			// Update the status image
			const now = new Date();
			if (now.getSeconds() % 9 === 0) {
				imageSrc = "/static/images/loading2.gif";
			} else {
				imageSrc = "/static/images/loading.gif";
			}
			statusImage.src = imageSrc;
			}, 5000)
		};
		window.onload = function() {
			var training = document.getElementById("overlay");
			var content = document.getElementById("content");
			training.style.display = "none";
			content.style.display = "block";
      	};
	</script>
	<style>
		body {
			text-align: center;
		}
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
		#overlay {
			align-items: center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: 9999;
			display: none;
		}
		#overlay.show {
			display: block;
		}
	</style>
</head>
<body>
	<div class="container" id="content">
		<h1>Select Models and Parameters</h1>
		<form action="{{ url_for('model_selection') }}" method="POST">
			{% for model, value in models.items() %}
				<div class="form-group">
					<input type="checkbox" name="{{ model }}" value="{{ model }}" id="{{ model }}">
					<label for="{{ model }}"><b>{{ model }}</b></label><br>
					{% for name, val in value['params'].items() %}

						<input type="checkbox" name="{{ model }}[]" value="{{ name }}|{{ val }}" id="{{ model }}-{{ name }}">
						<label for="{{ model }}-{{ name }}">{{ name }}: {{ val }}</label><br>
							
						
					{% endfor %}
				</div>
			{% endfor %}
			<button id="start-button" onclick="startAnimation()" type="submit">Submit</button>
		</form>
	</div>
	<div id="overlay">
		<p><b>Do not close the browser while the model is being trained</b></p>
		<img id="status-image" src="{{ url_for('static', filename='images/loading.gif') }}" alt="loading icon">
		<p id="status-text" style="text-decoration: blueviolet; text-size-adjust: 20px;">Training is in progress...</p>
	</div>
</body>
</html>
