<html>
    <head>
        <title>
            Predict on batch
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            body {
			text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
		}
            label {
                font-weight: bold;
                font-size: large;
        }
        </style>
    </head>
    <body>
        <div class="container">
            {% if df %}
                <div class="mb-8">
                    {{ df | safe }}
                </div>
            {% endif %}
        </div>
    </body>
</html>